version: '3.8'

services:
  gpt-vis-ssr:
    image: ghcr.io/luler/gpt_vis_ssr:latest
    ports:
      - 3000:3000
    volumes:
      - ./images:/app/public/images
    environment:
      - NODE_ENV=production
      - TZ=Asia/Shanghai
      - PUBLIC_BASE_URL=http://localhost:3000
    restart: unless-stopped
